body {
  font-family: 'Titillium Web', Helvetica, sans-serif;
}

.header a:not([href|='#'])::after {
  content: ' ';
  background-image: url('images/href.svg');
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 0.15em;
}

.z-1000 {
  z-index: 1000; /* To be above the map */
}

.facebook {
  background-image: url('images/facebook.svg');
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Animation de l'icon de recherche de la position GPS */
.ti.ti-loader::before {
  position: absolute;
  top: 0;
  left: 1px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Inspiré de https://daisyui.com/components/carousel */
.carousel {
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel-center .carousel-item {
  scroll-snap-align: center;
}
.carousel-item {
  box-sizing: content-box;
  /* display: flex; */
  flex: none;
  scroll-snap-align: start;
}

@media (min-width: 768px) {
  .md\:carousel-vertical {
    overflow-x: hidden;
    flex-direction: column;
    -ms-overflow-style: initial;
    scrollbar-width: initial;
  }
  .md\:carousel-vertical::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #aaa; /* or add it to the track */
    display: initial;
  }
  .md\:carousel-vertical::-webkit-scrollbar-thumb {
    background: #000;
  }
}

.selected {
  filter: grayscale();
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
